.submit__text {
  color: #fff;
  text-transform: uppercase;
}

.submit__input {
  padding: 5px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 5px;
}

.submit__form {
}
.submit__form label {
  height: 100%;
  padding: 5px;
}

.submit__btn {
  outline: none;
  border: none;
  border-radius: 5px;
  /*border-radius:5px*/
  height: 100%;
  padding: 5px;
  transition: all 0.2s ease-in;
}

.submit__btn:hover {
  cursor: pointer;
  background: rgb(40, 219, 181);
}
